<h1>{{game}}</h1>
<ul>
    <li>Nom du jeu: {{game}}</li>
    <img id="game-image" src="{{img}}">
    <li class="price">Prix: {{price}}€</li>
    <li>Tags:
        <ul>
            {% for tag in tags %}
                <li class="tag">{{ tag }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>
